In [2]:
import pandas as pd
from simtk import unit as simtk_unit
from openff.toolkit.topology import Molecule, Topology
from openff.units import unit

from openff.system.stubs import ForceField
from openff.system.tests.energy_tests.openmm import (
    get_openmm_energies,
    _get_openmm_energies,
)
from openff.system.tests.energy_tests.gromacs import get_gromacs_energies

Warning: Unable to load toolkit 'OpenEye Toolkit'. The Open Force Field Toolkit does not require the OpenEye Toolkits, and can use RDKit/AmberTools instead. However, if you have a valid license for the OpenEye Toolkits, consider installing them for faster performance and additional file format support: https://docs.eyesopen.com/toolkits/python/quickstart-python/linuxosx.html OpenEye offers free Toolkit licenses for academics: https://www.eyesopen.com/academic-licensing

In [3]:
SMILES = "c1n(CCO)c(C(F)(F)(F))cc1CNCCl"

In [4]:
molecule = Molecule.from_smiles(SMILES)
molecule.generate_conformers(n_conformers=20, rms_cutoff=0.1 * simtk_unit.angstrom)
topology = molecule.to_topology()

In [5]:
parsley = ForceField("openff-1.1.0.offxml")

In [6]:
openff_sys = parsley.create_openff_system(topology)
openmm_sys = parsley.create_openmm_system(topology)

In [7]:
openff_sys.positions = molecule.conformers[0]
openff_sys.box = [4, 4, 4]

In [9]:
df = pd.DataFrame()

kj_mol = unit.kilojoule / unit.mol

for idx, conformer in enumerate(molecule.conformers):
    openff_sys.positions = conformer

    toolkit = sum(
        _get_openmm_energies(
            omm_sys=openmm_sys,
            box_vectors=openff_sys.box,
            positions=openff_sys.positions,
        ).energies.values()
    ).m_as(kj_mol)

    omm = sum(get_openmm_energies(openff_sys).energies.values()).m_as(kj_mol)

    gmx = sum(get_gromacs_energies(openff_sys).energies.values()).m_as(kj_mol)

    df = df.append(
        pd.DataFrame.from_dict(
            {
                "Conformer No.": [idx],
                "Toolkit (kJ/mol)": [round(toolkit, 3)],
                "System -> OpenMM (kJ/mol)": [round(omm, 3)],
                "System -> GROMACS": [round(gmx, 3)],
            }
        ),
        ignore_index=True,
    )

In [10]:
df.style.hide_index()